body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.recipe-rating .p-rating .p-rating-icon.pi-star {
  color: #f71e68;
}

.recipe-favourite .p-button {
  background: transparent;
  color: #f71e68;
  border: none;
}

.recipe-favourite .p-button:enabled:active {
  background: transparent;
  color: #f71e68;
  border-color: #f71e68;
}

.recipe-image {
  width: 235px !important;
  height: 175px !important;
}

a {
  text-decoration: none;
  color: #E74C3C;
  -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}


.header {
  height: 70px;
  background-color: #f71e68;
  top: 0px;
}

.rp-data-view {
  min-width: 500px;
}

.rp-filters {
  width: 245px;
  padding: 32px;
  left: 32px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.rp-filters-group {
  height: 600px;
  width: 180px;
  border-color: #dee2e6 !important;
  // padding-top: 50px;
}

.rp-filter-button button.p-button,
.rp-filter-button .p-button:enabled:active {
  background: #f71e68;
  border-color: #f71e68;
  padding: 2.5px !important;
  float: right;
  margin-bottom: 30px
}

.rp-filter-button {
  height: 50px;
}


input {
  margin-bottom: 25px;
}

.right-zone {
  float: right;
  vertical-align: middle;
  padding: 15px;
}

.left-zone {
  float: left;
  vertical-align: middle;
  padding: 15px;
}


.header-menu-item button.p-button {
  background: transparent !important;
  border: 1px solid transparent !important;
}

.logo {
  width: 39.6px;
  height: 39.6px;
}


app-recipe-creation form {
  padding: 0px 25px 2px 25px;
  margin-left: 210px;
  width: 1000px;
  border: 1px solid lightgray;
}


.column {
  float: left;
  width: 33%;
}


.column-middle {
  float: left;
  width: 50%;

}

.column-full {
  float: left;
  width: 100%;

}

app-recipe-creation input,
app-recipe-creation label {
  display: block;
  width: 100%;
}

textarea {
  width: 100%
}

.recipe-tag {
  display: initial;
  padding-left: 10px;
}

h1 {
  margin-left: 210px !important;
  font-size: 1.5rem !important;;
  margin-top: 10px !important;


}

.right-actions-panel {
  margin-left: 1050px;
  margin-top: 4px;
}

.recipe-button button.p-button, .recipe-button .p-button:enabled:active{
  background: #f71e68 !important;
  border-color: #f71e68 !important;
  margin: 5px !important;
}

.p-fileupload-buttonbar .p-button {
background: #f71e68 !important;
border-color: #f71e68 !important;
padding: 0.25rem 0.25rem !important;
}

.p-fileupload .p-fileupload-buttonbar {
  padding: 0.25rem !important;

}

.p-fileupload .p-fileupload-content {
  padding: 0rem !important;
}


.p-fileupload-row>div {
  width: auto !important;
}

.p-fileupload-row .p-button {
  background: #f71e68 !important;
  border: 1px solid #f71e68;
  padding: 0px !important;
}