body {
  margin: 0  !important;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }

.recipe-rating .p-rating .p-rating-icon.pi-star {
    color: #f71e68;
}

.recipe-favourite .p-button {
  background: transparent;
  color: #f71e68;
  border: none;
}

.recipe-favourite .p-button:enabled:active {
  background: transparent;
  color: #f71e68;
  border-color: #f71e68;
}

.recipe-image {
  width: 235px !important;
  height: 175px !important;
}

a {
  text-decoration: none;
  color: #E74C3C;
  -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}


.header {
  height: 70px;
  background-color: #f71e68;
  top: 0px;
}


.right-zone {
  float: right;
  vertical-align: middle;
  padding: 15px;
}

.left-zone {
  float: left;
  vertical-align: middle;
  padding: 15px;
}


.header-menu-item button.p-button {
  background: transparent !important;
  border: 1px solid transparent !important;
}

.logo {
  width: 39.6px;
  height: 39.6px;
}